 .tile {
	height: 75px;
	width: 87.5px;
	display: flex;
	justify-content: center;
	align-items: center;

}
/*.chessPieces{
	height: 75px;
	width: 87.5px;
	background-size: 70px;
	background-position: center;
	background-repeat: no-repeat;
}*/
 .white-tile{
	background-color: white;
}
.black-tile{
	background-color:  #779556;
}

#chessImg{
height: 75px;
width: 87.5px;
}